h1 #{name},

h3 Misson: #{targetStr}

p You've been invited to join the next top secret Gabiko gathering. Join us in epic day of gaming!

a(href="#{baseurl}/#{tokens.ackknowledge}")#ackknowledge.button I'll be there!
a(href="#{baseurl}/#{tokens.reject}")#reject.button No.
a(href="#{baseurl}/#{tokens.plus}")#plus.button Yes! +1
a(href="#{baseurl}/#{tokens.maybe}")#maybe.button Maybe..

p Bring drinks, foodz and beer!

dl
  dt Location:
  dd: a(href="https://goo.gl/maps/Ga3pl") 52.3344316, 5.2200368
  dt unscibscribe:
  dd: a(href="http://xkcd.com/no") click here